<section class="header-container">

    <a [routerLink]="['home']">
    <h2>
    <fa-icon class="icon-mobile" [icon]="faMobileScreen" size="xl"></fa-icon>
    Phone Model Store ™</h2>
    </a>

    <a mat-fab extended [routerLink]="['/cart']"
    [matBadge]="cartService.cartItemCount !== 0 ? cartService.cartItemCount : null"
    matBadge="{{ this.cartService.cartItemCount }}" matBadgePosition="before" matBadgeColor="warn">
    <fa-icon class="icon-cart" [icon]="faCartShopping"></fa-icon>
    Cart
    </a>

</section>