.container {
    margin: 6.5rem 10rem 1rem 10rem;
}
.product-title {
    margin: 0 0 1rem 0;
}
.card-img-top {
    max-width: 50%;
    height: auto;
    padding: 2rem 1rem 0 1rem;
    align-self: center;
}
.card-title, .card-price, .card-text {
    margin: 1rem;
}
.buttons {
    padding: 1rem 0 0.5rem 0;
}
.addToCartButton {
    margin: 0 0 0 1rem;
}
.stockFalse {
    color: red;
    margin: 0 1rem 0 1rem;
}

@media only screen and (max-width: 425px) {
    .container {
        margin: 6.5rem 0 1rem 0;
    }
    .card-img-top {
        max-width: 75%;
    }
}