<section class="container">

<div class="card mb-3" *ngIf="product">
    <img src="{{ 'assets/' + product.imageUrl }}" class="card-img-top" alt="Product image">
    <div class="card-body">
      <h3 class="card-title">{{ product.name }}</h3>
      <h4 class="card-price">{{ product.price | currency }}</h4>
      <p class="card-text">{{ product.description }}</p>
    </div>
  </div>

<article class="buttons">

<a routerLink="/home"><button type="button" class="btn btn-outline-secondary">Back</button></a>

<button (click)="addToCart(product)" class="btn addToCartButton" [disabled]="product.stock === false">Add to cart</button>

<span *ngIf="product.stock === false" class="stockFalse">Out of stock!</span>

</article>

<!-- snackbar -->

<div id="snackbar">{{ snackbarMessage }}</div>

</section>