<section class="cart-container">

<h4 class="cart-title">Cart</h4>

<div class="cart-item bg-light p-3" *ngFor="let item of items">
    <span>{{ item.name }}</span><br>
    <span class="ml-5"><strong>{{ item.price | currency }}</strong></span>
</div>

<section class="shipping">
<a routerLink="/shipping">Show shipping prices</a>
</section>

<a routerLink="/home"><button type="button" class="btn btn-outline-secondary">Back</button></a>
<button type="button" class="btn btn-outline-secondary" (click)="clearItemsSnackbar()">Clear items</button>
<button type="button" class="btn btn-outline-secondary" (click)="purchaseItems()">Purchase</button>

<!-- snackbar -->

<div id="snackbar">{{ snackbarMessage }}</div>

</section>