.cart-container {
    margin: 6.5rem 2rem 1.5rem 2rem;
    padding: 0;
}
.cart-title {
    margin: 0 0 1.5rem 0;
}
.cart-top {
    padding: 1.6rem 1.6rem 0.5rem 1.6rem;
}
.cart-bottom {
    padding: 0.5rem 1.6rem 1.6rem 1.6rem;
}
.shipping {
    margin: 2rem 0 0 0;
}
button {
    margin: 2rem 1rem 0 0;
}
.empty-cart {
    margin: 0;
}