<section class="cart-container">

<h2 class="cart-title">Cart</h2>

<div class="cart-item bg-light p-3" *ngIf="cartService.cartItemCount == 0">
    <p class="empty-cart">Your cart is empty.</p>
</div>

<div class="cart-top cart-item bg-light" *ngIf="cartService.cartItemCount !== 0">
    <p>Number of items in cart: <span style="font-weight: bold;">{{ cartService.cartItemCount }}</span></p>
    <p>Total sum of items in cart: <span style="font-weight: bold;">{{ cartService.cartTotalSum | currency }}</span></p>
    <hr>
</div>

<div class="cart-bottom cart-item bg-light" *ngFor="let item of items">
    <span>{{ item.name }}</span><br>
    <span style="font-weight: bold;" class="ml-5">{{ item.price | currency }}</span>
</div>

<section class="shipping">
<a routerLink="/shipping">Show shipping prices</a>
</section>

<a routerLink="/home"><button mat-raised-button type="button">Back</button></a>
<button mat-raised-button (click)="clearItemsSnackbar()">Clear items</button>
<button mat-raised-button color="primary" (click)="purchaseItems()">Purchase</button>

<!-- snackbar -->

<div id="snackbar">{{ snackbarMessage }}</div>

</section>