.main-container {
    margin: 6rem 10rem 2rem 10rem;
}
#mainImage {
    height: 300px;
    background-image: url(../../assets/images/iso-iphone-xs.jpg);
    background-size: cover;
    background-position-y: -6rem;
}
figure {
    margin: 0 0 1rem 0;
}
.productListTitle {
    color: #A5292A;
    margin: 1.5rem 0 1rem 1rem;
}
.productList {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.card img {
    padding: 1rem;
}
.notifyButton {
    background-color: #A5292A;
    color: #F4DBAF;
    margin: 2rem 0 0 0;
    justify-content: flex-end;
    align-self: self-start;
}
.buyButton {
    background-color: #0EA0B7;
    color: white;
    /* align-self: self-start; */
    margin: 0.5rem 0.5rem 0.5rem 0;
}
.productDescription {
    overflow: hidden;
    height: 100px;
    margin: 0;
}
.show {
    overflow: visible;
    height: auto;
}
.card-body {
    display: flex;
    flex-direction: column;
}

.showMore {
    font-style: italic;
    color: lightslategray;
    margin: 0.2rem 0 0.2rem 0;
}

.icon-facebook, .icon-twitter, .icon-instagram {
    padding: 0.2rem;
}
.icon-facebook {
    color: #1977F2;
}
.icon-twitter {
    color: #1C9BEF;
}
.icon-instagram {
    color: #F402B8;
}
.stockFalse {
    color: red;
    margin: 0.5rem 0 0.5rem 3rem;
    align-self: flex-end;
}
.OOS {
    display: flex;
}