.main-container {
    margin: 6rem 10rem 2rem 10rem;
}
#mainImage {
    height: 300px;
    background-image: url(../../assets/images/iso-iphone-xs.jpg);
    background-size: cover;
    background-position-y: -6rem;
}
figure {
    margin: 0 0 1rem 0;
}
.productListTitle {
    color: #A5292A;
    margin: 1.5rem 0 1rem 1rem;
}
.productList {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.card img {
    padding: 1rem;
}
.notifyButton {
    background-color: #A5292A;
    color: #F4DBAF;
    margin: 2rem 0 0 0;
    justify-content: flex-end;
    align-self: self-start;
}
.addToCartButton {
    background-color: #0EA0B7;
    color: white;
    margin: 0.5rem 0.5rem 0.5rem 0;
}
.productDescription {
    overflow: hidden;
    height: 100px;
    margin: 0;
}
.show {
    overflow: visible;
    height: auto;
}
.card-body {
    display: flex;
    flex-direction: column;
}
a:link {
    text-decoration: none;
}
.card-title {
    color: #A5292A;
}

.showMore {
    font-style: italic;
    color: lightslategray;
    margin: 0.2rem 0 0.2rem 0;
}

.icon-facebook, .icon-twitter, .icon-instagram {
    padding: 0.2rem;
}
.icon-facebook {
    color: #1977F2;
}
.icon-twitter {
    color: #1C9BEF;
}
.icon-instagram {
    color: #F402B8;
}
.icon-share {
    color: black;
    padding: 0.2rem;
}

.stockFalse {
    color: red;
    margin: 0.5rem 0 0.5rem 3rem;
    align-self: flex-end;
}
.OOS {
    display: flex;
}

/* w3schools snackbar */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }