.container {
    margin: 6rem auto 1rem auto;
}
#mainImage {
    height: 300px;
    background-image: url(../../assets/images/iso-iphone-xs.jpg);
    background-size: cover;
    background-position-y: -6rem;
}
figure {
    margin: 0 0 1rem 0;
}
.productListTitle {
    color: #A5292A;
    margin: 1.5rem 0 1rem 1rem;
}
.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}
.card {
    margin: 0 0.5rem 0 0.5rem;
}
.card img {
    padding: 1rem;
}
.card-body {
    display: flex;
    flex-direction: column;
}
.card-title {
    color: #A5292A;
}
.productPrice {
    font-weight: bold;
}
.productDescription {
    overflow: hidden;
    height: 100px;
    margin: 0;
}
.show {
    overflow: visible;
    height: auto;
}
.showMore {
    cursor: pointer;
    font-style: italic;
    color: lightslategray;
    margin: 0.2rem 0 0.2rem 0;
}
.addToCartButton {
    margin: 0.5rem 0.5rem 0.5rem 0;
}
.icon-facebook, .icon-twitter, .icon-instagram {
    padding: 0.2rem;
}
.icon-facebook {
    color: #1977F2;
}
.icon-twitter {
    color: #1C9BEF;
}
.icon-instagram {
    color: #F402B8;
}
.icon-share {
    color: black;
    padding: 0.2rem;
}
.OOS {
    display: flex;
}
.notifyButton {
    margin: 2rem 0 0 0;
    justify-content: flex-end;
    align-self: self-start;
}
.stockFalse {
    color: red;
    margin: 0.5rem 0 0.5rem 3rem;
    align-self: flex-end;
}

@media only screen and (max-width: 425px) {
    .container {
        margin: 6rem auto 0.5rem auto;
    }
    #mainImage {
        height: 200px;
        background-position-y: 0;
    }
    .card {
        margin-bottom: 0.5rem;
    }
    .productListTitle {
        text-align: center;
    }
    .productList {
        margin: 0;
    }
}