html, body { 
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: auto;
    }
  }
